<!--The content below is only a placeholder and can be replaced.-->

<ul>
    <li>
        <!--
        routerLinkActive="active"
        -->
        <a routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li>
        <a routerLink="/about/48" routerLinkActive="active">About</a>
    </li>
    <li>
        <a routerLink="/wanjohi" routerLinkActive="active">Wanjohi</a>
    </li>
    <li>
        <a routerLink="/john" routerLinkActive="active">john</a>
    </li>
</ul>
<router-outlet></router-outlet>